@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #03c4ff, #00c3ff, #91c78a, #07f1ab);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
  font-family: cursive;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 320px;
  width: 250px;
  padding: 70px 10px;
}

#qrcode {
  border: 1px solid black;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 5%;
}

button {
  border-radius: 0.1rem;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 250px;
  position: absolute;
  top: 40%;
  left: 5%;
  /*  font-family: "Poppins";*/
  font-family: cursive;
}

button:hover {
  border: 2px solid #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  transition: 0.8s ease;
  background: linear-gradient(-45deg, #ec0808, #f83535, #0486f0, #07f1ab);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
}

.text {
  border-radius: 0.2rem;
  border-color: 1px solid #5c5959;
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 250px;
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 20px;
  /*  font-family: "poppins";*/
  font-family: cursive;
  box-shadow: #9b9b9b;
}

.h1boi {
  color: #ffffff;
  font-family: "poppins";
  padding: 20px;
  font-family: cursive;
}
